#load{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-color: #E1E8F0;
}

h1{
    font-size: 5em;
    color: #9068BE;
}

h2{
    font-size: 4em;
    padding-top: 2%;
    color: #9068BE;
}

#ring{
    padding-top: 3%;
    width: 100px;
    display: inline-block
}
